body {
  font-family: "Montserrat", sans-serif;
  color: #111;
  background: #fafafa;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style-type: none;
}

/* Header */
.header {
}

.header-nav {
}

.header-logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
}

.header-logo span {
  font-style: italic;
}

.header-logo-icon {
}

.header-list-nav {
}

.header-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.about-list-nav:active, .about-list-nav:hover {
  color: #fd9222;
}

.header-icon {
}

/* Hero */
.hero {
  border-radius: 30px;
  background: rgba(17, 17, 17, 0.6);
}

.hero-title {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
}

.hero-btn {
  color: #fff;
  background-color: #fd9222;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  border-radius: 100px;
}

.hero-btn:hover, .hero-btn:focus, .hero-btn:active {
  color: #fd9222;
  border-color: #FCF1E0;
}

.hero-link {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  border: 1px solid #FFF;
}

.hero-link:hover, .hero-link:focus, .hero-link:active {
  color: #fd9222;
  border-color: #fd9222;
}

.hero-link-down {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
}

/* About */
.about {
  background-color: #1e1823;
}

.about-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-list {
}

.about-item {
}

.about-subtitle {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

.about-item-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/* Title */

.title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.title span {
  color: #fd9222;
}

/* Taste */
.taste {
}

.taste-title {
}

.taste-text {
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02;
}

.taste-list {
}

.taste-item {
}

.taste-item-yellow {
  border-radius: 15px;
  background: #FD9222;
}

.taste-item-white {
  border-radius: 15px;
  border: 1px solid #FD9222;
  background: #FFF;
}

.taste-item-black {
  border-radius: 15px;
  background: #1E1823;
}

.taste-item-img {
}

.taste-subtitle {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.taste-subtitle span {
  color: #111;
}

/* How It's Made? */

.how-title {
}

.how-img {
}

.how-subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}

.how-list {
}

.how-item {
}

.how-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/* Our Products */

.products-title {
}

.products-list {
}

.products-item {
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.10);
  background: #FFF;
}

.products-item-img {
}

.products-item-subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.products-item-text {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
}

.products-item-btn {
  font-family: inherit;
  color: #111;
  font-weight: 600;
  line-height: normal;
}

/* Top Sellers */
.sellers-title {
}

.sellers-list {
}

.sellers-item {
}

.sellers-list-img {
}

.sellers-subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  border-radius: 0px 0px 15px 15px;
  border-right: 1px solid rgba(17, 17, 17, 0.10);
  border-bottom: 1px solid rgba(17, 17, 17, 0.10);
  border-left: 1px solid rgba(17, 17, 17, 0.10);
  background: #FFF;
}

/* Chocolate is Loved */
.hocolate-title {
}

.hocolate-list {
}

.hocolate-item {
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.10);
  background: #FFF;
  box-shadow: 0px 9.049px 100px 0px rgba(17, 17, 17, 0.03);
}

.hocolate-item-img {
}

.hocolate-subtitle {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}

.hocolate-item-text {
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.hocolate-link {
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

/* Footer */

.footer {
  background: #1E1823;
}

.footer-subtitle {
  color: #FFF;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.02em;
}

.footer-subtitle span {
  color: #FD9222;
}

.footer-text {
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}

.footer-soc-list {
}

.footer-soc-item {
}

.footer-soc-link {
}

.footer-soc-icon {
}

.footer-address {
  font-style: normal;
}

.footer-address-list {
}

.footer-address-item {
  color: #FFF;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.footer-address-item:hover, .footer-address-item:active, .footer-address-item:focus {
  color: #fd9222;
}

.footer-address-link {
}

.footer-nav {
}

.footer-nav-list {
}

.footer-nav-item {
  color: #FFF;
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: -0.02em;
}

.footer-nav-link {
}

.footer-btn-enter {
  color: rgba(255, 255, 255, 0.30);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02em;
  cursor: pointer;

  border-radius: 30px;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
}

.footer-btn-subsr {
  color: #FFF;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;

  border-radius: 100px;
  background: #FD9222;
}